@font-face {
    font-family: 'Aref Ruqaa';
    src: url('./assets/font/ArefRuqaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aref Ruqaa';
    src: url('./assets/font/ArefRuqaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary: #F06140;
    --primary-fade: #f0604080;
    --secondary: #E78A4E;
    --secondary-fade: #E78A4E80;
    --action-light: #F5F5F5;
    --action-dark: #181E1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa';
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("./assets/noise-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Aref Ruqaa', sans-serif;
    color: var(--primary);
    letter-spacing: 0.5rem;
}

/* --------------------
    GLOBAL ELEMENTS
--------------------- */
span#tif-text, span#session-text {
    font-size: 5rem;
    font-weight: bold;
    border: solid 1px orange;
}

button {
    font-size: 1.5rem;
    background: none;
    padding-bottom: 4px;
    color: var(--action-light);
    border: none;
}

.page {
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: solid 1px red;
}


/* -------------------
    OPENING STYLES
-------------------- */
svg#logo {
    position: relative;
    width: 140px;
    height: 96.5px;
}

#opening {
    opacity: 0.0;
    border: solid 1px blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;

    & button#hold-button {
        box-sizing: content-box;
        position: absolute;
        white-space: nowrap;
        /* opacity: 0; */
        bottom: 64px;
        transform: translateX(-50%);
        left: 50%;

        &::before {
            content: '';
            position: absolute;
            width: 1%;
            height: 100%;
            border-bottom: solid 1px var(--action-light);
            transition: width 1s ease-in;
        }

        &:active::before {
            width: 100%;
        }
    }
}

/* -----------------
    HOME STYLES
------------------ */
#home {
    position: absolute;
    display: none;
    flex-direction: column;

    background: var(--action-light);
    opacity: 0.25;
}